* {
  margin: 5;
  padding: 5;
}


.barra_navegacao {
    height: 90px;
  }
.container{
    display: flex;
    background-color:rgba(253, 253, 253, 0.74);
    border: 1px solid #000000;
    width: 450px;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}
.itens{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-direction: column;
}
.input-group {
    display:flex;
    justify-content: space-between;
    padding: 1rem 0;
    color: #ffff;
}
.checkout{
    color: black;
    
}