body {
    background-image: url(../imagem/03.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 0;
}
.container {
    background-color:rgba(10, 10, 10, 0.74);
    border-radius: 5px;
    border: 1px solid #dc3545;
    width: 450px;
    
    
    
}
.form-header {
    padding: 30px 40px;
    font-weight: 600;
    color: #ffff;
}

.input-group {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0;
    color: #ffff;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #dc3546;
}
.input-box input:hover {
    background-color: lightcyan;
}
.continue-button button{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    padding: 0.50rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 6px #dc3545 ;

}

.continue-button button:hover{
    background-color: lightcyan;
}


.box__check{
    display: flex;
    align-items: center;
    margin-bottom: 3.5rem;

}
.small_check{
    margin: 0px 0px 1px 2px ;
}
