
.titulo{
    margin-top: 80px;
    text-align: center;
}

.box__img_p_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    margin-top: 100px;
}

.img__top_somos{
    width: 500px;
    box-shadow: 10px 10px 10px 0 #000000;
}
.box__texto__top{
    width: 40%;

}


.box__texto{
    padding: 100px 0;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background: #888888;
}
.paragrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    
}
.titulo__paragrafo{
    font-weight: bold;
    
}
.paragrafos__texto{
    text-align:justify;
}
.paragrafos__texto::before{

    content: "🟊";
}
.box__mid{
    margin-top: 50px;
    text-align: justify;
    padding: 0 25px;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}
.titulo-principal {
	text-align: center;
}