
.titulo{
    margin-top: 80px;
    text-align: center;
}

.box__img_p_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    margin-top: 100px;
}

.img__top_somos{
    width: 500px;
}
.box__texto__top{
    width: 40%;

}


.box__texto{
    margin: 100px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.paragrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    
}

.box__mid{
    margin-top: 50px;
    text-align: justify;
    padding: 0 25px;
}