
:root{
    --font-family-primary:'comfortaa',cursive;
    --primary-color:white;
    --secondary-color:#dc3545;
    --tertiary-color:blue;
}




.carrosel-box{
    box-sizing: border-box;
}
.imagem-carrossel-um{
    object-fit: cover;
    object-position: 0% 45%;
    height: 600px;
       
}

.imagem-carrossel-dois{
    object-fit: cover;
    object-position: 0% 45%;
    height: 600px;
     
}
.imagem-carrossel-tres{
    object-fit: cover;
    object-position: 0% 68%;
    height: 600px;
     
}
.box__grid_botton{
    margin-top: 25px;
    text-align: center;
}
.box__card__top{
    text-align: center;
}
.box__card__bottom{
    padding: 0;
    height: 25rem;
    
}

.img__card{
    height: 200px;
}
.img__card2{
    height: 100px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    
}
.texto__card{
    margin-bottom: 100px !important;
}

/* login */
.body__login{
    background-image: url(/site-html/imagem/03.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    border: 0;
    color: var(--primary-color);
}

.form__login{
    width: 30%;
    box-sizing: border-box;
    margin: 100px auto;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding:100px 0px 100px 90px;

    
    
   
}
.box__input{
    display: flex;
    flex-direction: column;
    
}
