<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="stylesheet" href="/site-html/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top barra_navegacao">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Crock'n Roll</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/site-html/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/site-html/views/quemSomos.html">Quem Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/site-html/views/registration.html">Cadastrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/site-html/views/login01.html">login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="form-image">
            <img src="assets/img/img-hamburger-1.png" alt="">
        </div>

        <div class="form">
            <div class="form-header">
                <div class="tittle">
                    <h1>Login</h1>
                </div>
                
            </div>
            <div class="input__group__login">

                <div class="input-box">
                    <label for="usuaroi">Usuário(a)</label>
                    <input id="user" type="email" name="usuario" placeholder="Digite nome do usuário" required>
                </div>

                <div class="input-box">
                    <label for="password">Senha</label>
                    <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                </div>
            </div>
            <div class="continue-button">
                <button id="button__login" data-botao>Entrar</a></button>
            </div>
            <div class="box__check">
                <input type="checkbox" class="input__check">
                <small class="form-text text-muted small_check">Lembre-se de min.</small>
            </div>
        </div>
    </div>

  
    <script src="/site-html/script/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>

</body>


</html>